@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

img {
    display: block;
}

body{
    font-family: "Nunito", sans-serif;
    min-height: 100vh;
    background-color: aliceblue;
/*     background-image: url('img/ukraine-g8dc48ccbd_1280.png'), linear-gradient(to left, rgb(180, 70, 70), purple,darkgreen,#fff);
    
    background-size: 50%, auto, contain;
    background-repeat: no-repeat;
    background-position: center; */
    
/*     */
}


.container{
    background-color: rgb(251, 210, 156);
    background-image: url('img/mingwei-lim-ncIKFAWcE2k-unsplash_200x200.jpg');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;  
}

.nowrap{
    white-space: nowrap;
}

.offscreen{
    position: absolute;
    left: -10000px;
}


.hero {
    border-bottom: 2px solid black;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

    background-color: hsla(67, 10%, 51%, 0.233);
}

.h1{
    font-size: 500%;
    color: whitesmoke;
    text-shadow: 8px 8px 5px black;
    /* background-color: hsla(0, 0%, 100%, 0.233);
    padding: 0.25rem;
    border-radius: 10px; */

}


.profile-pic-figure{
    width: 35%;
}

.profile-pic-figure img{
    width: 100%;
    height: auto;
    min-width: 100px;
    border: 5px double gray;
    border-radius: 50%;
}


.example{
    margin-top: 1rem;
    padding-left: 20px;
    border: 1px solid red;
}

.example img {
    width: 25%;
    height: auto;
}

.clip{
    font-weight: 800;
    font-size: 18rem;
    text-align: center;
    background-image: url('img/mingwei-lim-ncIKFAWcE2k-unsplash.jpg');
    text-transform: uppercase;
    -webkit-background-clip: text;
    color: transparent;
}

